<!-- <form #f="ngForm" (ngSubmit)="submit(f.value)">
    <div>
        <input type="text" name="name" [(ngModel)]="form.name" placeholder="Name">
    </div>

    <div>
        <input type="email" name="email" [(ngModel)]="form.email" placeholder="Email">
    </div>

    <button>Submit</button>
</form> -->

<h1>{{today | date}}</h1>

<p>{{'Taofeek' | demo:4}}</p>

<form [formGroup]="formGroup" (ngSubmit)="submit(formGroup.value)">
    <div class="mb-4">
        <input type="text" class="form-control" formControlName="name" placeholder="Name">
    </div>

    <div class="mb-4">
        <input type="email" name="email" class="form-control" formControlName="email" placeholder="Email">
    </div>

    <button class="btn btn-primary p-2 px-5 " [disabled]="formGroup.invalid">Submit</button>
</form>

<child [data]="formGroup.value"></child>

<div *ngFor="let item of items;">
    <div style="display: flex; gap: 10px; align-items: center; cursor: pointer;" (click)="selectedItem = item" [class.bg-warning]="selectedItem?.id == item.id" logme>
        <h1>{{item.name}}</h1>
        <p>{{item.role}}</p>
    </div>
</div>

